:root {
    --color-body: #B892B8;
    --color-small-contents: #652e55;
    --color-headers: #BB95BB;
    --color-shadow: #482a44;
    --color-other-headers: #EE9A94;
    --color-fill: #FBEAF3;
    --color-text: #4b2946;
    --color-black: #000000;
    --color-white: #ffffff;
}
.game-window {
    position: absolute;
    top: 0;
    right: 5px;
    width: 300px;
    height: 450px;
    background: #F8EDD7;
    border: 4px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 0px #000, 8px 8px 0px #555;
    z-index: 1100;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.game-header {
    background:var(--color-text);
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 16px;
    color: var(--color-other-headers);
    border-bottom: 2px solid #000;
}

.game-title {
    font-weight: bold;
}

.close-game-btn {
    background: #ff6b6b;
    color: #F8EDD7;
    border: none;
    font-size: 14px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.close-game-btn:hover {
    background: #555;
}

.game-content {
    margin: 0;
    flex: 1;
    padding: 4px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.game-iframe {
    width: 100%; 
    height: calc(100% - 20px); 
    border: none;
    overflow: hidden;
}
.hidden {
    display: none;
}
@media screen and (max-width: 768px){
    .game-window{
        margin: auto;
        left: 0.09px;
    }
    
}

